---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -bugprone-exception-escape,
        -bugprone-easily-swappable-parameters,
        -cert-flp30-c,
        -cert-err58-cpp,
        -cert-msc50-cpp,
        -cert-msc51-cpp,
        -readability-static-accessed-through-instance,
        -readability-identifier-length,
        -readability-identifier-naming,
        -readability-function-cognitive-complexity,
        -readability-named-parameter,
        -readability-uppercase-literal-suffix,
        -readability-magic-numbers,
        -readability-math-missing-parentheses,
        -modernize-use-trailing-return-type,
        -misc-no-recursion,
        -hicpp-named-parameter,
        -hicpp-uppercase-literal-suffix,
        -cppcoreguidelines-avoid-magic-numbers
"
HeaderFilterRegex: '.*'
FormatStyle:     file

CheckOptions:
  - key: misc-include-cleaner.IgnoreHeaders
    value: "thrust/.*;experimental/.*"
