---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-static-accessed-through-instance,
        -readability-identifier-length,
        -readability-identifier-naming,
        -modernize-use-trailing-return-type,
        -misc-no-recursion,
"
HeaderFilterRegex: ''
FormatStyle:     file
