---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -bugprone-exception-escape,
        -cert-flp30-c,
        -cert-err58-cpp,
        -cert-msc50-cpp,
        -cert-msc51-cpp,
        -readability-static-accessed-through-instance,
        -readability-identifier-length,
        -readability-identifier-naming,
        -readability-function-cognitive-complexity,
        -readability-named-parameter,
        -modernize-use-trailing-return-type,
        -misc-no-recursion,
        -hicpp-named-parameter
"
HeaderFilterRegex: '.*'
FormatStyle:     file
